<div class="wrapper">
    <div class="log-in pb-60">
        <div class="container">
            <div class="row">
<h3>Orders</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Order #</th>
                <th>Date</th>
                <th>Customer Name</th>
                <th>Total Amount</th>
                <th>Discount</th>
                <th>Delivery Charges</th>
                <th>Net Amount</th>
                <th>Currency</th>
                <th>Status</th>
                <th>Delivery Location</th>
                <th>Action</th>	 	 	 	
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders | paginate: { itemsPerPage: itemsPerPage, currentPage: p } ; let i = index">
               <td>{{i+1}}</td>
                <td>{{order.docno}}</td>
                <td>{{order.docdate | date: 'fullDate'}}</td>
                <td>{{order.custname}}</td>
                <td>{{order.totalamount}}</td>
                <td>{{order.totaldiscount}}</td>
                <td>{{order.freightcharges}}</td>
                <td>{{order.totalnetamount}}</td>
                <td>{{order.currency}}</td>
                <td>{{order.orderstatusname}}</td>
                <td>{{deliverylocation}}</td>
                <td><a routerLink="/order/orderdetail/{{order.docno}}">Detail</a></td>

               
            </tr>
          
            <!-- <tr>
                <td>2</td>
                <td>May 10, 2018</td>
                <td>Processing</td>
                <td>$17.00 for 1 item </td>
                <td><a class="view" href="cart.html">view</a></td>
            </tr> -->
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
            </div>
        </div>
    </div>
</div>