
<div class="header bg-gradient-primary pb-8 pt-3 pt-md-3">
  <div class="container"> 
    <div class="header-body text-center mb-5">
      <div class="row">
        <div style="text-align: left;" >
          <a routerLink="dashboard" >
            <span  type="button" class="btn btncustom">Back To Dashboard</span>
          </a>
        </div>
      
        <!-- <div class="col-lg-5 col-md-6">
          <a routerLink="dashboard">
            <img width="200px" height="100px" src="./assets/img/brand/red.png" class="navbar-brand-img" alt="...">
          </a>
          <hr>
          
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white" x>Users Permissions</h1>
         </div>
         
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-12 py-lg-12">
          <div class="" style="height: 68vh; overflow: auto;"> 
            <table class="table-grey-border table group-level-access_table table-responsive tableFixHead">
            <thead>
                <tr>
                  <th scope="col" class="screen">Users Names</th>
                  <th scope="col" *ngFor="let screen of screens" class="screen">{{screen?.ScreenName}}</th>
                </tr>
              </thead>
              <tbody>
                <tr scope="col" *ngFor="let user of userWithPermission;">
                  <td class="screen">{{user?.user.Username}}</td>
                  <td [ngClass]="(permission.permission === '1') ? 'changevalue' : ''" scope="col" *ngFor="let permission of user.permission; let i = index">
                    <select (change)="change(user?.user.Id, permission.ScreenId, permission.permission)" [(ngModel)]="permission.permission">
                      <option value="0">None</option>
                      <option value="1">Allow</option>
                    </select>
                  </td>
                </tr>
                <!-- <tr scope="col" *ngFor="let user of users">
                  <td>{{user.name}}</td>
                  <td [ngClass]="users[i].permission == 0 ? 'changevalue' : ''" scope="col" *ngFor="let screen of screens; index as i">
                    <select [(ngModel)]="users[i].permission">
                      <option value="0">None</option>
                      <option value="1">Allow</option>
                    </select>
                  </td>
                </tr> -->
              </tbody>
          </table>
          
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
