
<div class="error404-area pb-60 pt-20" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-wrapper text-center">
                    <div class="error-text">
                        <h2>Age Verification</h2>
                        <p>By clicking enter, I certify that I am over the age of 21 and will comply with the above statement.</p>
                    </div>
                    <div class="error-button">
                        <a routerLink="/shop">Go To Shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>