<div class="wrapper">
    <!-- Breadcrumb End -->
    <!-- coupon-area start -->
    <div class="coupon-area">
        <div class="container">
           <!-- Section Title Start -->
            <div class="section-title mb-20">
                <h2>checkout</h2>
            </div>
            <!-- Section Title Start End -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="coupon-accordion">
                        <!-- ACCORDION START -->
                        <!-- <h3>Returning customer? <span id="showlogin">Click here to login</span></h3> -->
                        <div id="checkout-login" class="coupon-content">
                            <div class="coupon-info">
                                <p class="coupon-text">Quisque gravida turpis sit amet nulla posuere lacinia. Cras sed est sit amet ipsum luctus.</p>
                                <form action="#">
                                    <p class="form-row-first">
                                        <label>Username or email <span class="required">*</span></label>
                                        <input type="text" />
                                    </p>
                                    <p class="form-row-last">
                                        <label>Password  <span class="required">*</span></label>
                                        <input type="text" />
                                    </p>
                                    <p class="form-row">
                                        <input type="submit" value="Login" />
                                        <label>
                                        <input type="checkbox" />
                                         Remember me
                                    </label>
                                    </p>
                                    <p class="lost-password">
                                        <a href="#">Lost your password?</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                        <!-- ACCORDION END -->
                        <!-- ACCORDION START -->
                        <!-- <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3> -->
                        <div id="checkout_coupon" class="coupon-checkout-content">
                            <div class="coupon-info">
                                <form action="#">
                                    <p class="checkout-coupon">
                                        <input type="text" class="code" placeholder="Coupon code" />
                                        <input type="submit" value="Apply Coupon" />
                                    </p>
                                </form>
                            </div>
                        </div>
                        <!-- ACCORDION END -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- coupon-area end -->
    <!-- checkout-area start -->
    <div class="checkout-area pt-30  pb-60">
        <div class="container">
            <form [formGroup]="checkout" (ngSubmit)="loginuser()">

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="checkbox-form">
                            <h3>Billing Details</h3>
                            <div class="row">
                                <!-- <div class="col-md-12">
                                    <div class="country-select mb-30">
                                        <label>Country <span class="required">*</span></label>
                                        <select>
                                            <option value="volvo">Bangladesh</option>
                                            <option value="saab">Algeria</option>
                                            <option value="mercedes">Afghanistan</option>
                                            <option value="audi">Ghana</option>
                                            <option value="audi2">Albania</option>
                                            <option value="audi3">Bahrain</option>
                                            <option value="audi4">Colombia</option>
                                            <option value="audi5">Dominican Republic</option>
                                        </select>
                                    </div>
                                </div> -->

                                    <div class="col-md-12">
                                        <div class="checkout-form-list">
                                            <label>Customer Name <span class="required">*</span></label>
                                            <input type="text" formControlName="custname" placeholder="" />
                                            <div *ngIf="submitted == true && order.custname.errors" >
                                                <small class="error-text" *ngIf="order.custname.errors.required">Customer Name is required</small>
                                            </div>
                                        </div>
                                       
                                    </div>


                                  


                                <div class="col-md-12 mtb-10">
                                    <div class="checkout-form-list mb-30">
                                        <label>User No<span class="required">*</span></label>
                                        <input type="text" formControlName="userno" placeholder="" />
                                        <div *ngIf="submitted == true && order.userno.errors" >
                                            <small class="error-text" *ngIf="order.userno.errors.required">User No is required</small>
                                        </div>
                                    </div>
                                  
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-30">
                                        <label>Password</label>
                                        <input type="text" formControlName="password" placeholder="" />
                                        <div *ngIf="submitted == true && order.password.errors" >
                                            <small class="error-text" *ngIf="order.password.errors.required">Password is required</small>
                                        </div>
                                    </div>
                                   
                                </div>
                                <!-- <div class="col-md-6">
                                    <div class="checkout-form-list mb-30">
                                        <label>Confim Password</label>
                                        <input type="text" formControlName="cpassword" placeholder="" />
                                    </div>
                                </div> -->
                                <div class="col-md-6">
                                    <div class="checkout-form-list mb-30">
                                        <label>Email Address <span class="required">*</span></label>
                                        <input type="email" formControlName="email" placeholder="" />
                                        <div *ngIf="submitted == true && order.email.errors" >
                                            <small class="error-text" *ngIf="order.email.errors.required">Email is required</small>
                                            <small class="error-text" *ngIf="order.email.errors.is-invalid">Email format is invalid</small>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list mb-30">
                                        <label>Phone  <span class="required">*</span></label>
                                        <input type="text" formControlName="phone" placeholder="" />
                                        <div *ngIf="submitted == true && order.phone.errors" >
                                            <small class="error-text" *ngIf="order.phone.errors.required">Phone is required</small>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Address <span class="required">*</span></label>
                                        <input type="text" formControlName="address" placeholder="Street address" />
                                        <div *ngIf="submitted == true && order.address.errors" >
                                            <small class="error-text" *ngIf="order.address.errors.required">Address is required</small>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list mtb-30">
                                        <input type="text" formControlName="address2" placeholder="Apartment, suite, unit etc. (optional)" />
                                    </div>
                                </div>
                                <!-- <div class="col-md-12">
                                    <div class="checkout-form-list mb-30">
                                        <label>Town / City <span class="required">*</span></label>
                                        <input type="text" formControlName="address2" placeholder="Town / City" />
                                    </div>
                                </div> -->



                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="your-order">
                            <h3>Your order</h3>
                            <div class="your-order-table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-name">Product</th>
                                            <th class="product-total">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cart_item" *ngFor="let item of getdataservice?.cartdata?.items">
                                            <td class="product-name">
                                                {{item.Name}} <strong class="product-quantity"> × {{item.Qty}}</strong>
                                            </td>
                                            <td class="product-total">
                                                <span class="amount">${{item.Total}}</span>
                                            </td>
                                        </tr>

                                    </tbody>
                                    <tfoot>
                                        <tr class="cart-subtotal">
                                            <th>Cart Subtotal</th>
                                            <td><span class="amount">${{getdataservice?.cartdata?.total}}</span></td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><strong><span class="amount">${{getdataservice?.cartdata?.total}}</span></strong>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="payment-method">
                                <div class="payment-accordion">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Direct Bank Transfer
                                                </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse  in show" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Cheque Payment
                                                </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                    <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                PayPal
                                                </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-button-payment">
                                        <input type="button" (click)="ordercheckout()" value="Place order" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </form>
        </div>
    </div>
    <!-- checkout-area end -->
    <!-- Brand Logo Start -->
    <div class="brand-area pb-60">
        <div class="container">
            <!-- Brand Banner Start -->
            <div class="brand-banner owl-carousel">
                <div class="single-brand">
                    <a href="#"><img class="img" src="img/brand/1.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="img/brand/2.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="img/brand/3.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="img/brand/4.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="img/brand/5.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img class="img" src="img/brand/1.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="img/brand/2.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="img/brand/3.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="img/brand/4.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="img/brand/5.png" alt="brand-image"></a>
                </div>
            </div>
            <!-- Brand Banner End -->
        </div>
    </div>
    <!-- Brand Logo End -->
</div>