<!-- Shop Page Start -->

<div class="breadcrumb-area ptb-20 ptb-sm-30">
    <div class="container">
        <div class="breadcrumb">
            <ul>

                <li class="active"><a href="#">Shop</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<div class="main-shop-page pb-60">



    <!-- Delete This -->

    <div class="container">
        <!-- Row End -->
        <div class="row">
            <!-- Sidebar Shopping Option Start -->
           
            <!-- Sidebar Shopping Option End -->
            <!-- Product Categorie List Start -->
            <div class="col-lg-12 order-lg-2">
                <!-- Grid & List View Start -->
                <!-- <div class="grid-list-top border-default universal-padding fix mb-30"> -->
                    <!-- <div class="grid-list-view f-left">
                        <ul class="list-inline nav">
                            <li><a data-toggle="tab" class="active" href="#grid-view"><i class="fa fa-th"></i></a></li>
                            <li><a data-toggle="tab" href="#list-view"><i class="fa fa-list-ul"></i></a>
                            </li>
                            <li><span class="grid-item-list"> Items {{items.length}} of {{totalitemscount}}</span></li>
                        </ul>
                    </div> -->
                    <!-- Toolbar Short Area Start -->
                    <!-- <div class="main-toolbar-sorter f-right">
                        <div class="toolbar-sorter">
                            <label>sort by</label>
                            <select class="sorter" name="sorter" (change)="changesortby($event)">
                                <option value="saleprice">Price</option>

                            </select>
                            <span *ngIf="sortup"><span href="#"><i class="fa fa-arrow-up"
                                        (click)="applysort('up')"></i></span></span>
                            <span *ngIf="sortdown"><span href="#"><i class="fa fa-arrow-down"
                                        (click)="applysort('down')"></i></span></span>
                        </div>
                    </div> -->
                    <!-- Toolbar Short Area End -->
                <!-- </div> -->
                <!-- Grid & List View End -->
                <div class="best-seller-product pb-40">
                        <div class="group-title">
                            <h2>Featured Products</h2>
                        </div>
                </div>
                <div class="main-categorie">
                    <!-- Grid & List Main Area End -->
                    <div class="tab-content fix">
                        <div id="grid-view" class="tab-pane active">
                            <div class="row">

                                <div class="col-lg-3 col-sm-6"
                                    *ngFor="let item of FetauredItems">
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            <a routerLink="/shop/itemdetail/{{item.itemno}}" href="javascript:void(0)">
                                                <div *ngIf="item?.itemimagepath; else noImage">
                                                    <img class="primary-img"
                                                        src="{{item.itemimagepath}}" alt="">
                                                    <img class="secondary-img"
                                                        src="{{item.itemimagepath}}" alt="">
                                                </div>
                                                <ng-template #noImage>
                                                    <img class="primary-img"
                                                        src="../../../../assets/ItemImages/default-product-image.png"
                                                        alt="">
                                                    <img class="secondary-img"
                                                        src="../../../../assets/ItemImages/default-product-image.png"
                                                        alt="">
                                                </ng-template>
                                            </a>
                                            <span class="sticker-new">{{item.discountpercentagePortalDisplay}}% off</span>
                                        </div>
                                        <div class="pro-content">
                                            <h4><a a routerLink="/shop/itemdetail/{{item.rowno}}"
                                                    href="javascript:void(0)">{{item.itemname}} {{item.itemno}}</a></h4>
                                                    <span *ngIf="cartservice?.customer?.customerdata?.length == 0">
                                                      
                                                      <a routerLink ="/auth/login" href="javascript:void(0)"><span style="font-weight: 600;"><u>Login to view Prices</u></span></a>
                                                    </span>
                                                    <span *ngIf="cartservice?.customer?.customerdata?.length != 0">
                                                        <p><span class="price">{{cartservice?.companydata[0]?.currency}}
                                                            {{item.saleprice}}</span>
                                                        <span>  Stock : {{item.itemstockportaldisplay}}</span> </p>
                                                    </span>       
                                            <p>{{item.itemdetails}}</p>
                                            <div class="pro-actions">
                                                <div class="actions-secondary">
                                                    <a href="wishlist.html" data-toggle="tooltip"
                                                        title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a class="add-cart" (click)="checkitemunits(content,item)"
                                                        data-toggle="tooltip" title="Add to Cart">Add To Cart</a>

                                                    <a href="compare.html" data-toggle="tooltip"
                                                        title="Add to Compare"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                        <!-- <span class="sticker-new">-20%</span> -->
                                    </div>
                                </div>

                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="best-seller-product pb-40">
                    <div class="group-title">
                        <h2>Clearance Products</h2>
                    </div>
            </div>
            <div class="main-categorie">
                <!-- Grid & List Main Area End -->
                <div class="tab-content fix">
                    <div id="grid-view" class="tab-pane active">
                        <div class="row">

                            <div class="col-lg-3 col-sm-6"
                                *ngFor="let item of ClearanceItems">
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a routerLink="/shop/itemdetail/{{item.itemno}}" href="javascript:void(0)">
                                            <div *ngIf="item?.itemimagepath; else noImage">
                                                <img class="primary-img"
                                                    src="{{item.itemimagepath}}" alt="">
                                                <img class="secondary-img"
                                                    src="{{item.itemimagepath}}" alt="">
                                            </div>
                                            <ng-template #noImage>
                                                <img class="primary-img"
                                                    src="../../../../assets/ItemImages/default-product-image.png"
                                                    alt="">
                                                <img class="secondary-img"
                                                    src="../../../../assets/ItemImages/default-product-image.png"
                                                    alt="">
                                            </ng-template>
                                        </a>
                                        <span class="sticker-new">{{item.discountpercentagePortalDisplay}}% off</span>
                                    </div>
                                    <div class="pro-content">
                                        <h4><a a routerLink="/shop/itemdetail/{{item.rowno}}"
                                                href="javascript:void(0)">{{item.itemname}} {{item.itemno}}</a></h4>
                                                <span *ngIf="cartservice?.customer?.customerdata?.length == 0">
                                                  
                                                  <a routerLink ="/auth/login" href="javascript:void(0)"><span style="font-weight: 600;"><u>Login to view Prices</u></span></a>
                                                </span>
                                                <span *ngIf="cartservice?.customer?.customerdata?.length != 0">
                                                    <p><span class="price">{{cartservice?.companydata[0]?.currency}}
                                                        {{item.saleprice}}</span>
                                                    <span>  Stock : {{item.itemstockportaldisplay}}</span> </p>
                                                </span>       
                                        <p>{{item.itemdetails}}</p>
                                        <div class="pro-actions">
                                            <div class="actions-secondary">
                                                <a href="wishlist.html" data-toggle="tooltip"
                                                    title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                <a class="add-cart" (click)="checkitemunits(content,item)"
                                                    data-toggle="tooltip" title="Add to Cart">Add To Cart</a>

                                                <a href="compare.html" data-toggle="tooltip"
                                                    title="Add to Compare"><i class="fa fa-signal"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Content End -->
                                    <!-- <span class="sticker-new">-20%</span> -->
                                </div>
                            </div>

                        </div>
                      
                    </div>
                </div>
            </div>
            <div class="best-seller-product pb-40">
                <div class="group-title">
                    <h2>New Arrival Products</h2>
                </div>
        </div>
        <div class="main-categorie">
            <!-- Grid & List Main Area End -->
            <div class="tab-content fix">
                <div id="grid-view" class="tab-pane active">
                    <div class="row">

                        <div class="col-lg-3 col-sm-6"
                            *ngFor="let item of NewArrivalItems">
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a routerLink="/shop/itemdetail/{{item.itemno}}" href="javascript:void(0)">
                                        <div *ngIf="item?.itemimagepath; else noImage">
                                            <img class="primary-img"
                                                src="{{item.itemimagepath}}" alt="">
                                            <img class="secondary-img"
                                                src="{{item.itemimagepath}}" alt="">
                                        </div>
                                        <ng-template #noImage>
                                            <img class="primary-img"
                                                src="../../../../assets/ItemImages/default-product-image.png"
                                                alt="">
                                            <img class="secondary-img"
                                                src="../../../../assets/ItemImages/default-product-image.png"
                                                alt="">
                                        </ng-template>
                                    </a>
                                    <span class="sticker-new">{{item.discountpercentagePortalDisplay}}% off</span>
                                </div>
                                <div class="pro-content">
                                    <h4><a a routerLink="/shop/itemdetail/{{item.rowno}}"
                                            href="javascript:void(0)">{{item.itemname}} {{item.itemno}}</a></h4>
                                            <span *ngIf="cartservice?.customer?.customerdata?.length == 0">
                                              
                                              <a routerLink ="/auth/login" href="javascript:void(0)"><span style="font-weight: 600;"><u>Login to view Prices</u></span></a>
                                            </span>
                                            <span *ngIf="cartservice?.customer?.customerdata?.length != 0">
                                                <p><span class="price">{{cartservice?.companydata[0]?.currency}}
                                                    {{item.saleprice}}</span>
                                                <span>  Stock : {{item.itemstockportaldisplay}}</span> </p>
                                            </span>       
                                    <p>{{item.itemdetails}}</p>
                                    <div class="pro-actions">
                                        <div class="actions-secondary">
                                            <a href="wishlist.html" data-toggle="tooltip"
                                                title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            <a class="add-cart" (click)="checkitemunits(content,item)"
                                                data-toggle="tooltip" title="Add to Cart">Add To Cart</a>

                                            <a href="compare.html" data-toggle="tooltip"
                                                title="Add to Compare"><i class="fa fa-signal"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                                <!-- <span class="sticker-new">-20%</span> -->
                            </div>
                        </div>

                    </div>
                  
                </div>
            </div>
        </div>
            </div>
            <!-- product Categorie List End -->

        </div>
        <div class="pt-10">
            <!-- <owl-carousel #owlElement
            [options]="{items: 3, dots: false, navigation: false}" 
            [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="item" *ngFor="let image of images;let i = index">
                <div class="thumbnail-image" ></div>
            </div>
        </owl-carousel> -->
            <!-- <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
            [animation]="'slide'">
<mdb-carousel-item *ngFor="let item of slides; let i = index">
  <div class="col-md-4" *ngFor="let card of item; let cardIndex = index">
    <mdb-card class="my-1">
      <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
      <mdb-card-body>
        <mdb-card-title>
          <h4>{{card.title}}</h4>
        </mdb-card-title>
        <p>{{card.description}}</p>
        <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>
      </mdb-card-body>
    </mdb-card>
  </div>
</mdb-carousel-item>
</mdb-carousel> -->
        </div>

        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>

<!-- Shop Page End -->

<!-- Template for modal unit selection -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Unit Selection of
            <span><strong>{{units.itemname}}</strong></span>
            <p>
                <!-- <span><i><b>{{units.discountpercentage}} % Discount on each</b></i></span> -->
                <span><i><b>{{units.discountpercentagePortalDisplay}} % off on each</b></i></span>
            </p>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Unit</td>
                                <td>Unit Name</td>
                                <td>Price</td>
                                <td>Quanity</td>
                                <td>Amount</td>
                                <td>Discount</td>
                                <td>Stock</td>
                                <td>Net Amount</td>
                            </tr>
                        </thead>
                        <tbody>
                           
                            <tr *ngFor="let unit of units.itemunitsdetails">
                                <td><input type="checkbox" [disabled]="unit.qty == 0 || unit.qty == null"
                                    (change)="selectunit(unit,units)">
                                        
                                    </td>
                                <td>{{unit.factorunit}}</td>
                                <td>{{unit.factorunitname}}</td>
                                <td>{{unit.dsaleprice}}</td>
                                <td><input type="number" appPositivenumber name="unit.qty" (change)="calctotal(unit,units.discountpercentagePortalDisplay)"
                                        [(ngModel)]="unit.qty">
                                </td>
                                <td><input type="number" name="total{{unit.factorunit}}" [(ngModel)]="unit.total"></td>
                                <td>{{unit.discountamount}}</td>
                                <td>{{unit.itemunitstock}}</td>
                                <td><input type="number" name="netamount{{unit.factorunit}}"
                                        [(ngModel)]="unit.netamount"></td>
                                <!-- <td><input type="number" name="discount{{unit.factorunit}}" [(ngModel)]="unit.discount"></td>
                                <td><input type="number" name="netamount{{unit.factorunit}}" [(ngModel)]="unit.netamount"></td> -->

                            </tr>
                        </tbody>

                    </table>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="saveunit()">Save</button>
    </div>
</ng-template>